ul{
    list-style-type:none; 
}

.encasillar{
    border: 2px solid black;
}

#principal{
    margin: 0;
}
ul{
    float:left; 
}

img{
    height: 10%;
    width: 10%;   
}

ul#semana a{
    list-style-type: none;
    display: flex;
    flex-direction:row;
}

ul#semana li {
    text-decoration: none;
    color:black;
    text-align: center;
}